.footer {
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    background: #373535;
    padding: 30px 0;
    z-index: 10;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
}